<form action="/super_hero" method="POST">
  <h1>Create a Team and Heroes!</h1>
  <label for="team_name">Team Name: <input id="team_name" type="text" name="team[name]" /></label><br>
  <label for="team_motto">Team Motto: <input id="team_motto" type="text" name="team[motto]" /></label><br>

  <h2>Hero 1</h2>
	<label for"super_hero_name_1">Name: <input id="super_hero_name_1" type="text" name="super_hero[super_heros][][name]" /></label><br>
  <label for"super_hero_power_1">Power: <input id="super_hero_type_1" type="text" name="super_hero[super_heros][][type]" /></label><br>
	<label for"super_hero_biography_1">Biography: <input id="super_hero_booty_1" type="text" name="super_hero[super_heros][][booty]" /></label><br><br>

  <h2>Hero 2</h2>
  <label for"super_hero_name_2">Name: <input id="super_hero_name_2" type="text" name="super_hero[super_heros][][name]" /></label><br>
	<label for"super_hero_type_2">Type: <input id="super_hero_type_2" type="text" name="super_hero[super_heros][][type]" /></label><br>
  <label for"super_hero_booty_2">Booty: <input id="super_hero_booty_2" type="text" name="super_hero[super_heros][][booty]" /></label><br><br>

  <h2>Hero 3</h2>
  <label for"super_hero_name_2">Name: <input id="super_hero_name_2" type="text" name="super_hero[super_heros][][name]" /></label><br>
	<label for"super_hero_type_2">Type: <input id="super_hero_type_2" type="text" name="super_hero[super_heros][][type]" /></label><br>
  <label for"super_hero_booty_2">Booty: <input id="super_hero_booty_2" type="text" name="super_hero[super_heros][][booty]" /></label><br><br>

  <input type="submit" value="Submit">
		</form>
